@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    background-color: black;
    background: black url(../imagens/FB_IMG_1578580876635.jpg) top center no-repeat fixed;
    background-size: cover;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 230px;
}

header > h1 {
    font-family: 'Passion One', sans-serif;
    font-size: 8em;
    padding: 20px 0px 1px 0px;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

.principal-page {
  
}

.body {
    background-color: white;
    max-width: 900px;
    font-size: 4em;
    margin: auto;
}

.right-list {
    position: fixed;
    right: 7%;
    top: 30%;
    background-color: white;
    height: 300px;
    max-width: 300px;
}

.right-list > h2 {
    margin: 20px 20px;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    padding: 0px 70px 0px 70px;
}
}